<!DOCTYPE html>
<html lang="en">
<head>
    {{>templates/partials/common}}
    <title>Th_Eshop - {{product.name}}</title>
    <link rel="stylesheet" href="/static/css/product/show.css">
</head>
<body>
    {{>templates/partials/header}}
    <div class="structure-column">
        <div class="column-color">
            <div class="structure-box-large">

                <h1>{{product.name}}</h1>
                <div class="outerbox">
                    <div class="box">
                        <img id="product_img" src="/upload/product/{{product.id}}.png">
                    </div>
                    <div class="box">
                        <p>{{product.description}}</p>
                        <p>{{product.price}}€</p>
                        <p>{{product.available}} Available</p>

                        <a href="/seller/{{product.seller.id}}">{{product.seller}}</a><br>


                        <form method="POST" action="/product/addToCart">
                            <label for="amount">Amount</label><br>
                            <input value="1" name="amount" type="number" min="1" max="{{product.available}}"><br>
                            {{#if more_than_zero}}
                                <input type="submit" value="Add to basket">
                            {{else}}
                                Product not available.<br>
                                <input type="submit" value="Add to basket" disabled>
                            {{/if}}

                            <input type="number" name="id" value="{{product.id}}" hidden>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="mainbody">
        <div class="min-border">
            <div class="contentbody">
                <div class="min-border">

                </div>
            <div>
        </div>
    </div>
    {{>templates/partials/footer}}
</body>
</html>