<!DOCTYPE html>
<html lang="en">
<head>
    {{>templates/partials/common}}
    <title>Th_Eshop - {{product.name}}</title>
    <link rel="stylesheet" href="/static/css/product/show.css">
    <link rel="stylesheet" href="/static/css/product-recommendation.css">
</head>
<body>
    {{>templates/partials/header}}
    <div class="structure-column">
        <div class="column-color">
            <div class="structure-box-large">

                <h2>{{product.name}}</h2>
                <div class="outerbox">
                    <div class="box">
                        <div class="img-box">
                            <img id="product_img" src="/upload/product/{{product.id}}.png">
                        </div>
                    </div>
                    <div class="box">
                        <div class="structure-column-o">

                            <div class="box" id="separator">
                                <div class="padding-box-horizontal">
                                    {{#if more_than_zero}}
                                        <p><b style="color : green;">{{product.available}} Available</b></p>
                                    {{else}}
                                        <p><b style="color: red">{{product.available}} Available</b></p>
                                    {{/if}}
                                    <p><b>{{product.price}}€</b></p>
                                </div>
                                <form method="POST" action="/product/addToCart">
                                    <div class="structure-box padding-box-horizontal">
                                        <p>
                                            <label for="amount" style="color: black">Amount:</label>
                                            <input value="1" name="amount" class="selector" type="number" min="1" max="{{product.available}}">
                                        </p>
                                    </div>

                                    {{#if more_than_zero}}
                                        <input class="black-button" type="submit" value="Add to basket">
                                    {{else}}
                                        <input class="black-button" type="submit" value="Add to basket" disabled>
                                    {{/if}}

                                    <input type="number" name="id" value="{{product.id}}" hidden>
                                </form>
                            </div>

                            <p class="justify">{{product.description}}</p>
                            <p>Seller: <i><a href="/seller/{{product.seller.id}}">{{product.seller}}</a></i></p><br>


                        </div>
                    </div>
                </div>
                <hr class="spacer-bar">
                <h2 class="product-h2">Other products you might like:</h2>
                {{#each recommendations_outer}}
                    <div class="recommendation-row">
                        {{#each this}}
                            <div class="rec-box">
                                <div class="padding-box">
                                    <a href="/product/{{id}}">
                                        <div class="rec-div">
                                            <div class="padding-box-small">
                                                <img class="reco-img" src="/upload/product/{{id}}.png"><br>
                                                {{name}}<br>
                                                {{price}}€
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                <hr>
                {{/each}}
            </div>
        </div>
    </div>
    {{>templates/partials/footer}}
</body>
</html>