<!DOCTYPE html>
<html lang="en">
<head>
    {{>templates/partials/common}}
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/product/show.css">
</head>
<body>
    {{>templates/partials/header}}

    <h1>{{product.name}}</h1>
    <img id="product_img" src="/upload/product/{{product.id}}.png">

    <p>{{product.price}}€</p>
    <p>{{product.description}}</p>

    <a href="/seller/{{product.seller.id}}">{{product.seller}}</a>

    <button>Buy</button>

    {{>templates/partials/footer}}
</body>
</html>