<html>
<head>
    {{>templates/partials/common}}
    <title>Th_Eshop - Your orders</title>
</head>

<body>
    {{>templates/partials/header}}


<style>
        table {
            border: 0.1rem solid black;
        }

        th,tc {
            padding: 0.4rem;
        }

        .inner_table_cell {
            //padding: 2rem;
        }

</style>
    <p>Orders:</p>
    {{#if orders}}
    <table>
        {{#each orders}}
            <tr>
                <td>Orders [{{id}}]<br>{{date}}</td>
                <td>
                    <table>
                        {{#each orderItems}}
                            <tr>
                                <td>{{product.name}}</td>
                                <td>{{price}}€</td>
                                <td>{{amount}}</td>
                            </tr>
                        {{/each}}
                    </table>
                </td>
            </tr>
        {{/each}}
    </table>
    {{else}}
    <p>You have no orders</p>
    {{/if}}

    {{>templates/partials/footer}}
</body>
</html>