<html>
<head>
    {{>templates/partials/common}}
    <title>Th_Eshop - Your orders</title>
</head>

<body>
    {{>templates/partials/header}}


<style>


        th,tc {
            padding-bottom: 1%;
        }

</style>
    <div class="structure-column">
        <div class="column-color">
            <div class="structure-box-large">
                <h2>Orders</h2>
                {{#if orders}}
                    {{#each orders}}
                        <table class ="space">
                            <tr><th> <b>Order {{id}} from the {{date}}</b></th> </tr>
                                {{#each orderItems}}
                                    <tr>
                                        <td class="ord">
                                            <div class="structure-box-out">
                                                <div class = "structure-box-small">
                                                    <img id="order_img" src="/upload/product/{{product.id}}.png">
                                                </div>
                                                <div class = "structure-box-small">
                                                    <a href="/product/{{product.id}}"><b>{{product.name}}</b></a> <br>
                                                    <p> {{amount}}x {{price}}€</p>
                                                    <p>{{text-only product.description}}</p>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                {{/each}}
                            {{/each}}
                    </table>
                {{else}}
                    <p>You have no orders</p>
                {{/if}}
            </div>
        </div>
    </div>


    {{>templates/partials/footer}}
</body>
</html>