<html>

<head>
    {{>templates/primary/partials/common}}
    <title>Th_Eshop - Conform your account</title>
</head>

<body>
    {{>templates/primary/partials/header}}

    <div class="structure-column">
        <div class="column-color">
            <div class="structure-box-large">
                <h2>Products this seller sells:</h2>
                <p>{{seller}}</p>
                <img src="/upload/user/{{seller.id}}.png">
                <style>
                img {
                    width: 10rem;
                    height: 10rem;
                }
            </style>
                <table>
                    <th>Product</th>
                    <th>Price</th>
                    {{#each products}}
                        <tr>
                            <td><a href="/product/{{id}}">{{name}}</a></td>
                            <td>{{price}}</td>
                        </tr>
                    {{/each}}
                </table>

            </div>
        </div>
    </div>

    <div class="mainbody">
        <div class="contentbody">

        </div>
    </div>


    {{>templates/primary/partials/footer}}
</body>
</html>