<html>
<head>

</head>

<body>

    <style>
        table {
            border: 0.1rem solid black;
        }

        th,tc {
            padding: 0.4rem;
        }

        .inner_table_cell {
        //padding: 2rem;
        }

    </style>

    <header><a href="/"><h1>Th_Eshop</h1></a></header>
    <p>Orders:</p>
    <table>
        {{#each orders}}
            <tr>
                <td>Orders [{{id}}]<br>{{date}}</td>
                <td>
                    <table>
                        {{#each orderItems}}
                            <tr>
                                <td>{{product.name}}</td>
                                <td>{{price}}€</td>
                                <td>{{amount}}</td>
                            </tr>
                        {{/each}}
                    </table>
                </td>
            </tr>
        {{/each}}
    </table>

</body>
</html>