<html>
<head>
    {{>templates/partials/common}}
    <title>Th_Eshop - Your products</title>
</head>

<body>
{{>templates/partials/header}}

    Your Products
<table>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>price</th>
            <th>available</th>
            <th>description</th>
        </tr>
        {{#each products}}
        <tr>
            <td><a href="/product/{{id}}">Product [{{id}}]</a><br></td>
            <td>{{name}}</td>
            <td>{{price}}€</td>
            <td><form method="POST" action="/my/products">{{available}} <label>Add product</label> <input name="productid" value="{{id}}" hidden> <input name="availableincrease" type="number">  <input type="submit" value="add Available"> </form></td>
            <td>{{description}}</td>
        </tr>
    {{/each}}
</table>



{{>templates/partials/footer}}
</body>
</html>