<html>
<head>
    {{>templates/partials/common}}
    <title>Th_Eshop - Your products</title>
</head>

<body>
{{>templates/partials/header}}

<h2>Your Products</h2>
<table>
    <tr>
        <th>id</th>
        <th>name</th>
        <th>description</th>
        <th>price</th>
        <th>available</th>
    </tr>
    {{#each products}}
        <tr>
            <td>{{id}}</td>
            <td><a href="/product/{{id}}">{{name}}</a></td>
            <td>{{description}}</td>
            <td>{{price}}€</td>
            <td>
                <form method="POST" action="/my/products">
                    <input name="productid" value="{{id}}" hidden>
                    <input name="new_amount" type="number" value="{{available}}">
                    <input type="submit" value="Set">
                </form>
            </td>
        </tr>
    {{/each}}
</table>



{{>templates/partials/footer}}
</body>
</html>