<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <header><a href="/"><h1>Th_Eshop</h1></a></header>

    <h1>{{product.name}}</h1>
    <p>{{description}}</p>

    <img src="/img/"{{imgid}}>
    <p>{{product.price}}</p>

    <a href="/seller/{{product.seller.id}}">{{product.seller}}</a>

    <button>Buy</button>
</body>
</html>