<html>

<head>
    {{>templates/partials/common}}
    <title>Th_Eshop - Profile</title>
</head>

<body>
    {{>templates/partials/header}}

    <p>Email: {{user.email}}</p>
    <p>Name: {{user.firstname}} {{user.lastname}}</p>
    <p>Address: {{user.street}} {{user.housenumber}} {{user.zipcode}}</p>
    <p>Seller status:
        {{#if seller}}You are a seller
            {{else}} You are not a seller.
                <form method="POST" action="/profile">
                    <input type="submit" value="Become seller"> {{#if success}}Seller added successfully{{/if}}
                </form>
        {{/if}}
    </p>

{{>templates/partials/footer}}
</body>
</html>