<html>
<head>

</head>
    {{>templates/partials/common}}
    <title>Th_Eshop - Search</title>
<body>
    {{>templates/partials/header}}

    <div class="structure-column">
        <div class="column-color">
            <div class="structure-box-large">
                <h2>{{result_count}} Results for "{{search_query}}"</h2>
                <table>
                    {{#if products}}
                        <tr>
                            <th><b>Name</b></th>
                            <th><b>Price</b></th>
                            <th><b>Seller</b></th>
                        </tr>
                        {{#each products}}
                            <tr>
                                <td><a href="/product/{{id}}">{{name}}</a> </td>
                                <td>{{price}}€</td>
                                <td><a href="/seller/{{seller.id}}">{{seller}}</a></td>
                            </tr>
                        {{/each}}
                    {{/if}}

                    {{#unless products}}
                        No products found.
                    {{/unless}}
                </table>
            </div>
        </div>
    </div>
    <div class="mainbody">

        <div class="contentbody">
            <div class="min-border">

            </div>
        </div>
    </div>
    {{>templates/partials/footer}}
</body>
</html>